.fixedItem {
        width: 100%;
        margin: 0;
}



.btn_backtoTop {
        all: unset;
        background: url('/arrow_up_white.svg') no-repeat 50% #808285;
        background-size: 20px;
        font-size: 0;
        flex-grow: 0;
        flex-basis: 40px;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        cursor: pointer;
        opacity: 1;
        transition: all .1s ease;
        position: fixed;
        bottom: 50px;
        right: 40px;
        box-shadow: 0 5px 15px #00000059;
        z-index: 999999;

}