.header {      
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
        background-color: #fff;
}

.wrap {
        max-width: 1180px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin: auto;
        


}

.mainMenu {
        padding-top: 46px;
}

.mainMenu_active {
        display: block;
        padding-top: 46px;
}

.fontSizeBtn {
        color: black !important;
        margin-right: 20px;
        
}

.language_btn_wrap > a, 
.menu > a{
        margin: 10px;
        text-decoration: none;
        color: black;
}



.topMenu
{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 17px;
        color: black;
        width: 100%;
}

.menu {
        font-weight: bold;
        font-size: 18px;
        display: flex;
        

}




.nav_btn {
        padding: 5px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        visibility: hidden;
        opacity: 0;
}


.nav_btn_close {
        padding: 5px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        font-size: 20px;
}

.buttonComponent {
        margin-top: 6px;
        display: flex;
        justify-content: center;
}

.btn {
        display: flex;
        flex: 0 0 auto;
        height: 30px;
        align-items: center;
        font-size: 15px;
        justify-content: center;
        cursor: pointer;
        transition: all .3s;
        padding: 0 30px;
        color: #fff;
        font-weight: 700;
        background-color: #377d94;
        border: 1px solid #377d94;
        border-radius: 24px;
}


@media only screen and (max-width: 1024px){

        .nav_btn{
                visibility: visible;
                opacity: 1;
                font-size: 25px;
                transition: 0.15s ease;
                background-color: initial;
                color: #377d94;
        }
     

        .topMenu {
                justify-content: flex-start;
        }
        
        .fontSizeBtn {
                display: none;
        }

        .mainMenu {
                flex-direction: column;
                position: absolute;
                top: 80px;
                right: 0;
                height: 500px;
                width: 100%;
                display: flex;
                gap: 1.5rem;
                background-color: #7fcecd;
                transition: 1s;
                padding-top: 46px;
                
        }

        .menu > a{

                color: white;
        }

        .logo{
                margin: 5px;
               height: 64px;
               width: 64px; 
        }
        .menu {
                flex-direction: column;

        }

        .responsive_nav {
                transform: none;

        }

        .mainMenu_active {
                display: none;
        }
        

}
