.home_whatsnew_wrap {
        padding: 50px 0 0;
        background: #f2f2f2;
        position: relative;
}

.whatnew_subtitle {
        position:relative;
        text-align: center;
        margin: 0 auto;
        width: 525px;
        color: #377d94;
        font-size: 40px;
}

.whatnew_subtitle::before {
        content: '';
        display: block;
        background: url('/graphics_whats_new_line.svg') 50% no-repeat;
        width: 180px;
        height: 11px;
        position: absolute;
        top: calc((45px - 11px)/2);
}

.whatnew_subtitle::after {
        content: '';
        display: block;
        background: url('/graphics_whats_new_line.svg') 50% no-repeat;
        width: 860px;
        height: 11px;
        position: absolute;
        top: calc((45px - 11px)/2);
}

.swiper_container2 {
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        z-index: 1;
        padding: 124px 25px 0 !important;
        position: relative;
}


.home_btnWrap {
        position: absolute;
        top: 148px;
        width: 88px;
        display: flex;
        justify-content: space-between;
        z-index: 10;
        left: calc((100% - 88px)/2);
}




.home_btnWrap > svg{
        background-color:#377d94;
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        color: #fff;


}